// !VARIABLES

// !TOC
// 1. Colors
// 2. Font Stacks

// !Color Scheme

$white: rgb(255,255,255);
$black: rgb(0,0,0);
$black-alpha:	rgba(0,0,0, 0.7);

$cs-red:  rgb(255,0,33);
$cs-grey: rgb(76, 76, 78);
$cs-grey-light: rgb(236,236,236);

// !Fonts

$serif:      "Georgia", serif;
$sans-serif: "Helvetica Neue", Arial, sans-serif;
$titlefont:  "LeagueGothicRegular", Arial, sans-serif;
